<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Gerenciamento de Hotéis</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles_index.css') }}">
</head>
<body>
<header>
  <header>
    <a href="{{ url_for('usuario.login') }}">
      <button>Login</button>
    </a>
    

  
  </header>
  <h1>Gerenciamento de Hotéis</h1>
  <p>Cadastre-se, pesquise e descubra os melhores hotéis</p>
</header>

</body>
</html>